:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

main {
  width: clamp(100%, 100%, 1400px);
  height: 100vh;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  flex-wrap: wrap;


}

label {
  display: block;
  font-size: 1.5rem;
}

input {
  padding: clamp(50px, 20vw, 200px);
  border: 8px dashed #cdc7c7;
  border-radius: 8px;
  font-weight: bold;

  &.file_loaded {
    border: 8px dashed #00d52e;
  }

  &.file_over {
    border: 8px dashed #d4b60a;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 16px 8px #33333330;
  }
}

section {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}